.container{

width:95%;

max-width:1400px;

margin:auto;

padding:30px;

}

.grid{

display:grid;

gap:25px;

}

.grid-2{

grid-template-columns:

repeat(2,1fr);

}

.grid-3{

grid-template-columns:

repeat(3,1fr);

}

.grid-4{

grid-template-columns:

repeat(4,1fr);

}

@media(max-width:900px){

.grid-4,
.grid-3,
.grid-2{

grid-template-columns:1fr;

}

}